<app-navbar></app-navbar>
<div class="container-fluid">
    <!-- slider -->
    <div class="ism-slider" data-transition_type="zoom" data-play_type="loop" data-radios="false" id="slider-perfil" style="max-height: 400px">
        <ol>
            <li>
                <img src="../../../assets/slider-perfil/biblio.jpg" />
            </li>
            <li>
                <img src="../../../assets/slider-perfil/ninos.jpg" />
            </li>
            <li style="background-color: white;">
                <img src="../../../assets/slider-perfil/editar.jpg" />
            </li>
        </ol>
    </div>
</div>
<!-- acaba slider -->
<div class="container-fluid container-cards">
    <div class="card-deck">

        <div class="card card1">
            <a [routerLink]="['/leidos']">
                <div class="card-body">
                    <h4 class="card-title">Leídos</h4>
                    <hr />
                    <p class="card-text">Accede a tu lista de lecturas</p>
                </div>
            </a>
        </div>


        <div class="card card2">
            <a [routerLink]="['/favoritos']">
                <div class="card-body">
                    <h4 class="card-title">Favoritos</h4>
                    <hr />
                    <p class="card-text">Accede a tu lista de libros favoritos</p>
                </div>
            </a>
        </div>


        <div class="card card3">
            <a [routerLink]="['/editarPerfil']">
                <div class="card-body">
                    <h4 class="card-title">Editar perfil</h4>
                    <hr />
                    <p class="card-text">Accede a tus datos personales</p>
                </div>
            </a>
        </div>

    </div>
</div>
<app-footer></app-footer>