<div class="container container-fluid container-404">
    <svg height="40mm" width="40mm">
            <circle cx="20mm" cy="20mm" r="15mm" style="fill: red; stroke: black; stroke-width: 0.5mm;" />
            <line x1="7mm" y1="20.5mm" x2="33mm" y2= "20.5mm" style="stroke:#ffffff; stroke-width:5mm" />
    </svg>
    <div class="texto-error">La página que buscas no existe o no tienes permitido el acceso</div>
    <div class="button-volver">
        <button type="button" class="btn btn-danger mr-4 mb-2" [routerLink]="['/home']">
            Login
        </button>
    </div>
    <img src="../../../assets/logo-libroteca.png" alt="logo-libroteca">
</div>