.container-404 {
    text-align: center;
    margin: 5% auto;
}

img {
    width: 30%
}

.texto-error {
    font-size: 5vw;
    margin-bottom: 2rem;
}

.button-volver {
    text-align: center;
    margin-bottom: 2rem;
}

button {
    margin: 0 auto !important;
}