.footer {
    text-align: right;
    color: rgba(255, 255, 255, .5);
    width: 100%;
    background-color: #e4e9ea !important;
    padding: .5rem 1rem;
}

.footer small {
    color: #212529 !important;
    display: block;
}